.app {
  .color_picker {
    width: 400px;
    height: 400px;
    padding: 15px 5px;

    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .hue_slider {
    width: 400px;
  }

  .hue_slider_vertical {
    height: 200px;
  }

  .saturation_value {
    width: 400px;
    height: 400px;
  }
}
