@use 'src/styles/variables' as *;

.react_color_picker {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .saturation_value_selector {
    flex: 1 1 auto;
    margin-bottom: 10px;
  }

  .details {
    display: flex;
    align-items: center;
    margin-top: 10px;

    // Need to account for hue_slider_picker overflow
    margin-left: $huePickerWidth / 2 + $pickerBorderWidth;
    margin-right: $huePickerWidth / 2 + $pickerBorderWidth;

    .swatch {
      width: 32px;
      height: 32px;
      margin-right: 10px;

      border: 1px solid #ccc;
    }

    .hex_value {
      width: 60px;
      margin-left: 5px;
    }
  }
}
